* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

html {
    min-height: 100vh;
}

header {
    margin: 15px;
    padding: 10px;
    text-align: center;
}

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 20px;
}

.notesDiv {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    margin:10px;
    padding: 10px;
    font-size: 1.3rem;
}

.cut-text {
    position: absolute;
    top: 30px;
    width: 240px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
  }

.btnContainer {
    text-align: center;
    margin: 10px;
}
.btnContainer button {
    padding: .985rem;
    width: 150px;
    background-color: rgb(117, 125, 233);
    border: none;
    border-radius: 7px;
    transition: background-color ease-in-out .3s;

}
.btnContainer button:hover {
    background-color: rgb(71, 82, 233);
    color: rgb(255, 255, 255);
    cursor: pointer;
  
}

.divNoteBox {
    width: 250px;
    height: 150px;
    border: 2px solid gray;
    margin: 10px;
    word-break: break-word;
    padding: 5px;
    position: relative;
}

.btnToModal {
    position: absolute;
    bottom: 0px;
    right: 10px;
    width: 80px;
    height: 30px;
    border: none;
    margin: 5px;
    border-radius: 5px;
    background-color: #0275d8;
    color: white;
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .6);
    z-index: 1; 
    width: 100%; 
    height: 100%; 
    overflow: auto; 
 
}

.modalContent {
    width: 5rem;
    height: 2rem;
    border: 2px solid blue;
    position: fixed;
    top: 100px;
    left: 300px;
    z-index: 2;
}