* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    min-height: 100vh;
}

header {
    margin: 15px;
    padding: 10px;
    text-align: center;
}

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 20px;
}

.notesDiv {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    margin:10px;
    padding: 10px;
    font-size: 1.3rem;
}

.cut-text {
    position: absolute;
    /* top: 30px; */
    width: 240px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
  }

.btnContainer {
    text-align: center;
    margin: 10px;
}
.btnContainer button {
    padding: .985rem;
    width: 150px;
    background-color: rgb(117, 125, 233);
    border: none;
    border-radius: 7px;
    transition: background-color ease-in-out .3s;

}
.btnContainer button:hover {
    background-color: rgb(71, 82, 233);
    color: rgb(255, 255, 255);
    cursor: pointer;
  
}

.divNoteBox {
    width: 300px;
    height: 150px;
    border: 2px solid gray;
    margin: 10px;
    word-break: break-word;
    padding: 5px;
    position: relative;
}

.btnToModal {
    position: absolute;
    bottom: 0px;
    right: 10px;
    width: 80px;
    height: 30px;
    border: none;
    margin: 5px;
    border-radius: 5px;
    background-color: #0275d8;
    color: white;
    cursor: pointer;
}

.modal {
    background-color: rgba(18, 17, 17, 0.7); 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1; 
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    display: none;
}

.modalContent {
    width: 400px;
    height: 200px;
    background-color: lightgray;
    border-radius: 5px;
    border: 2px solid gray;
    margin: 15rem auto;
    padding: 20px 15px;
    position: relative;
}

.close-modal {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 3px;
    margin: 5px;
    width: 15px;
}

@keyframes shake {
    0% {
        margin: 0rem;
    }
    25% {
        margin-left: 3rem;
    }
    50% {
        margin-right: -3rem;
    }
    100% {
        margin: 0rem;
    }
}